html {
  font: 16px/1.5 -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
  color: #666;
  margin: 0;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
}

main {
  padding: 2rem;
  max-width: 1020px;
  margin: 0 auto;
}

a {
  color: #c02f1d;
  text-decoration: none;
  border-bottom: 2px solid #DD8E84;
}

a:visited {
  color: #9a2617;
  border-color: #C88980;
}

nav ul {
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
  width: 100%;
}

h1, h2 {
  color: #333;
}

h1 {
  font-size: 2rem;
}

h1 a {
  border: none;
}

header h1, header p, h2 {
  margin: 0;
}

.strapline {
  background: #c02f1d;
  font-size: 0.8em;
  color: #fff;
  padding: 0.4em;
  text-align: center;
}

.strapline a {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.6);
}

.no-border {
  border: 0;
}

.pull-left, .pull-right {
  margin-bottom: 0.5rem;
  box-sizing: border-box;
}

.pull-left {
  margin-right: 1rem;
  float: left;
}

.pull-right {
  margin-left: 1rem;
  float: right;
}

footer {
  border-top: 1px solid #DADADA;
  margin-top: 1rem;
  padding-top: 1rem;
}

footer p {
  margin-top: 0;
  box-sizing: border-box;
  zoom: 1;
  overflow: hidden;
}

code {
  font-family: Inconsolata, Consolas, Menlo, Monaco, monospace;
}

pre {
  overflow: auto;
}

pre, blockquote {
  border-left: 2px solid #DADADA;
  padding-left: 1rem;
  margin-left: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

blockquote p:first-child {
  margin-top: 0;
}

blockquote p:last-child {
  margin-bottom: 0;
}

header p, footer, .byline {
  color: #999;
}

address {
  font-style: normal;
  display: inline;
}

iframe {
  border: 1px solid #DADADA;
}

dd {
  margin-bottom: 1em;
  margin-left: 2em;
}

@media only screen and (max-width: 650px) {
  section img {
    width: 100%;
    height: auto;
  }
  iframe {
    width: 100%;
  }
}

/* Syntax highlighting. */
.highlight .c { color: #998; font-style: italic; }
.highlight .err { background-color: #e3d2d2; color: #a61717; }
.highlight .k { font-weight: bold }
.highlight .o { font-weight: bold }
.highlight .cm { color: #998; font-style: italic; }
.highlight .cp { color: #999; font-weight: bold; }
.highlight .c1 { color: #998; font-style: italic; }
.highlight .cs { color: #999; font-style: italic; font-weight: bold; }
.highlight .gd { background-color: #fdd; color: #000; }
.highlight .gd .x { background-color: #faa; color: #000; }
.highlight .ge { font-style: italic }
.highlight .gr { color: #a00 }
.highlight .gh { color: #999 }
.highlight .gi { background-color: #dfd; color: #000; }
.highlight .gi .x { background-color: #afa; color: #000; }
.highlight .go { color: #888 }
.highlight .gp { color: #555 }
.highlight .gs { font-weight: bold }
.highlight .gu { color: #aaa }
.highlight .gt { color: #a00 }
.highlight .kc { font-weight: bold }
.highlight .kd { font-weight: bold }
.highlight .kp { font-weight: bold }
.highlight .kr { font-weight: bold }
.highlight .kt { color: #458; font-weight: bold; }
.highlight .m { color: #099 }
.highlight .s { color: #d14 }
.highlight .na { color: #008080 }
.highlight .nb { color: #0086b3 }
.highlight .nc { color: #458; font-weight: bold; }
.highlight .no { color: #008080 }
.highlight .ni { color: #800080 }
.highlight .ne { color: #900; font-weight: bold; }
.highlight .nf { color: #900; font-weight: bold; }
.highlight .nn { color: #555 }
.highlight .nt { color: #000080 }
.highlight .nv { color: #008080 }
.highlight .ow { font-weight: bold }
.highlight .w { color: #bbb }
.highlight .mf { color: #099 }
.highlight .mh { color: #099 }
.highlight .mi { color: #099 }
.highlight .mo { color: #099 }
.highlight .sb { color: #d14 }
.highlight .sc { color: #d14 }
.highlight .sd { color: #d14 }
.highlight .s2 { color: #d14 }
.highlight .se { color: #d14 }
.highlight .sh { color: #d14 }
.highlight .si { color: #d14 }
.highlight .sx { color: #d14 }
.highlight .sr { color: #009926 }
.highlight .s1 { color: #d14 }
.highlight .ss { color: #990073 }
.highlight .bp { color: #999 }
.highlight .vc { color: #008080 }
.highlight .vg { color: #008080 }
.highlight .vi { color: #008080 }
.highlight .il { color: #099 }
