<footer>
  <p>
    <img src=//gravatar.com/avatar/beb7f5dd655d8b8e9093ef4fc5e59b6e?s=100 width=50 height=50 alt>
  </p>
  <h2>Ruby projects</h2>
  <p>
    <a href=//rubygems.org/gems/re2>re2</a> &bull;
    <a href=//rubygems.org/gems/vimrunner>Vimrunner</a> &bull;
    <a href=//rubygems.org/gems/embiggen>Embiggen</a> &bull;
    <a href=//rubygems.org/gems/fieldhand>Fieldhand</a> &bull;
    <a href=//rubygems.org/gems/if>if</a> &bull;
    <a href=//rubygems.org/gems/oplogjam>Oplogjam</a> &bull;
    <a href=//rubygems.org/gems/fibonacci_heap>Fibonacci Heap</a>
  </p>
  <h2>Clojure projects</h2>
  <p><a href=//clojars.org/riveted>riveted</a></p>
  <h2>PHP projects</h2>
  <p>
    <a href=//clojars.org/php-clj>php-clj</a> &bull;
    <a href=//packagist.org/packages/mudge/php-microkanren>PHPμKanren</a>
  </p>
  <h2>Rust projects</h2>
  <p>
    <a href=//crates.io/crates/oplog>Oplog</a> &bull;
    <a href=//github.com/mudge/homer>Homer</a>
  </p>
  <h2>JavaScript projects</h2>
  <p>
    <a href=//npmjs.org/package/pacta>Pacta</a> &bull;
    <a href=//github.com/mudge/jquery_example>jQuery Example</a>
  </p>
  <h2>Open source contributions</h2>
  <p>
    <a href=//bugs.ruby-lang.org/issues/6284>Ruby</a> &bull;
    <a href=//contributors.rubyonrails.org/contributors/paul-mucur/commits>Ruby on Rails</a>
  </p>
  <h2>Elsewhere</h2>
  <p>
    <a href=//github.com/mudge>GitHub</a> &bull;
    <a href=//www.linkedin.com/in/paulmucur/>LinkedIn</a> &bull;
    <a href=//speakerdeck.com/mudge>Speaker Deck</a> &bull;
    <a href=//twitter.com/mudge>Twitter</a>
  </p>
  <p>
    Copyright &copy; 2011&ndash;{{ site.time | date: "%Y" }} Paul Mucur
  </p>
</footer>
