<footer>
  <p>
    <img src=//gravatar.com/avatar/beb7f5dd655d8b8e9093ef4fc5e59b6e?s=100 width=66 height=66 alt>
  </p>
  <h2>Ruby projects</h2>
  <p>
    <a href=//rubygems.org/gems/re2>re2</a> &bull;
    <a href=//rubygems.org/gems/vimrunner>Vimrunner</a> &bull;
    <a href=//rubygems.org/gems/embiggen>Embiggen</a> &bull;
    <a href=//rubygems.org/gems/fieldhand>Fieldhand</a> &bull;
    <a href=//rubygems.org/gems/if>if</a> &bull;
    <a href=//rubygems.org/gems/proffer>Proffer</a> &bull;
    <a href=//rubygems.org/gems/fibonacci_heap>Fibonacci Heap</a> &bull;
    <a href=//rubygems.org/gems/oplogjam>Oplogjam</a>
  </p>
  <h2>Clojure projects</h2>
  <p>
    <a href=//clojars.org/riveted>riveted</a> &bull;
    <a href=//clojars.org/php-clj>php-clj</a>
  </p>
  <h2>PHP projects</h2>
  <p>
    <a href=//packagist.org/packages/mudge/php-microkanren>PHPμKanren</a> &bull;
    <a href=//packagist.org/packages/mudge/engine>Engine</a>
  </p>
  <h2>Rust projects</h2>
  <p>
    <a href=//crates.io/crates/oplog>Oplog</a> &bull;
    <a href=//github.com/mudge/homer>Homer</a>
  </p>
  <h2>JavaScript projects</h2>
  <p>
    <a href=//npmjs.org/package/pacta>Pacta</a> &bull;
    <a href=//github.com/mudge/jquery_example>jQuery Example</a>
  </p>
  <h2>Open source contributions</h2>
  <p>
    <a href=//bugs.ruby-lang.org/issues/6284>Ruby</a> &bull;
    <a href=//contributors.rubyonrails.org/contributors/paul-mucur/commits>Ruby on Rails</a>
  </p>
  <h2>Elsewhere</h2>
  <p>
    <a href=//github.com/mudge>GitHub</a> &bull;
    <a href=//keybase.io/mudge>Keybase</a> &bull;
    <a href=//www.linkedin.com/in/paulmucur/>LinkedIn</a> &bull;
    <a href=//speakerdeck.com/mudge>Speaker Deck</a> &bull;
    <a href=//twitter.com/mudge>Twitter</a> &bull;
    <a rel=me href=https://ruby.social/@mudge>Ruby.social</a>
  </p>
  <h2>GPG fingerprints &amp; keys</h2>
  <p>
    <a href=/39AC3530070E0F75.asc title="Public GPG key with the fingerprint 7026 09D9 C790 F45B 577D  7BEC 39AC 3530 070E 0F75"><code>7026 09D9 C790 F45B 577D  7BEC 39AC 3530 070E 0F75</code></a> &bull;
    <a href=/79CB1D9B9AF97329.asc title="Public GPG key with the fingerprint 0EF4 F150 2E1F C40F DDEE  26FA 79CB 1D9B 9AF9 7329"><code>0EF4 F150 2E1F C40F DDEE  26FA 79CB 1D9B 9AF9 7329</code></a>
  </p>
  <p>
    My views are my own and do not represent those of my employer.
  </p>
  <p>
    Copyright &copy; 2011&ndash;{{ site.time | date: "%Y" }} Paul Mucur
  </p>
</footer>
