<footer>
  <img src="//gravatar.com/avatar/beb7f5dd655d8b8e9093ef4fc5e59b6e?s=100"
       width=50 height=50 class=pull-left alt>
  <p>
    This is the personal web site of <strong>Paul Mucur</strong>:
    a web application developer; maintainer of five RubyGems
    (<a href=//rubygems.org/gems/re2>re2</a>,
    <a href=//rubygems.org/gems/oplogjam>Oplogjam</a>,
    <a href=//rubygems.org/gems/fibonacci_heap>Fibonacci Heap</a>,
    <a href=//rubygems.org/gems/if>if</a> &amp;
    <a href=//rubygems.org/gems/vimrunner>Vimrunner</a>),
    two Clojure libraries
    (<a href=//clojars.org/riveted>riveted</a> &amp;
    <a href=//clojars.org/php-clj>php-clj</a>), one PHP package
    (<a href=//packagist.org/packages/mudge/php-microkanren>PHP&mu;Kanren</a>),
    one Rust crate (<a href=//crates.io/crates/oplog>Oplog</a>),
    one node package (<a href=//npmjs.org/package/pacta>Pacta</a>) and a jQuery
    plugin (<a href=//github.com/mudge/jquery_example>jQuery Example</a>);
    <a href=https://bugs.ruby-lang.org/issues/6284>Ruby</a> and
    <a href=http://contributors.rubyonrails.org/contributors/paul-mucur/commits>Ruby
    on Rails contributor</a>; <a href=//twitter.com/mudge>occasional
    tweeter</a>; <a href=http://lrug.org>London Ruby User Group</a> and <a href=http://london.computation.club>London Computation Club</a> member; <a href=//speakerdeck.com/mudge>speaker</a> and general
    <a href=//github.com/mudge>lover of open-source</a>.
  </p>
</footer>
