<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{ page.title | strip_html | escape_once }}</title>
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link rel="stylesheet" href="/css/m.css">
<link rel="alternate" type="application/atom+xml" href="/index.atom">
</head>
<body>
{{ content }}
<footer><strong>Paul Mucur</strong> &mdash; a web application developer &mdash; writes <a href="http://github.com/mudge" title="Paul Mucur's GitHub account">open-source software</a>, <a href="http://rubygems.org/gems/re2" title="re2: Ruby bindings to Google's re2 regular expression library">maintains a RubyGem</a> and a <a href="http://plugins.jquery.com/project/example" title="jQuery Form Input Example plugin">jQuery plugin</a>, <a href="http://workingwithrails.com/person/19672-paul-mucur" title="Paul Mucur's Working With Rails profile">works with Ruby on Rails professionally</a> (and <a href="http://contributors.rubyonrails.org/contributors/paul-mucur/commits" title="Paul Mucur's contributions to Ruby on Rails">contributes to it</a>), occasionally shares random <a href="http://gist.github.com/mudge" title="Paul Mucur's Gist account">bits &amp; pieces of code</a> and <a href="http://lanyrd.com/people/mudge/" class="lanyrd-topbar lanyrd-noblank" rel="me">attends events</a>.</footer>
<script>var _gaq=_gaq||[];_gaq.push(["_setAccount","UA-1804081-1"]);_gaq.push(["_trackPageview"]);(function(){var a=document.createElement("script");a.type="text/javascript";a.async=true;a.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b)})();</script>
</body>
</html>
