---
layout: default
---
<article class=hentry>
  <header>
    <hgroup>
      <h1 class=entry-title>
        <a href={{ page.url }} rel=bookmark>{{ page.title }}</a>
      </h1>
      <h2 class="byline author vcard">By <a href=/ class=fn>Paul Mucur</a></h2>
    </hgroup>
    <time class=updated datetime={{ page.date | date_to_xmlschema }} pubdate>{{ page.date | date: "%A, %d %B %Y" }}</time>
  </header>
  <div class=entry-content>
    {{ content }}
  </div>
  <aside>
    {% for post in site.related_posts limit:3 %}
    {% if forloop.first %}
    <h2>Related Posts</h2>
    <ol>
    {% endif %}
      <li><a href={{ post.url }} rel=bookmark>{{ post.title }}</a></li>
    {% if forloop.last %}
    </ol>
    {% endif %}
    {% endfor %}
    <div id=disqus_thread></div>
  </aside>
</article>
<script>a("//mudge.disqus.com/embed.js");</script>
